
USE [HRMS]
GO
/****** Object:  Table [dbo].[EmployeeData]    Script Date: 08-08-2024  19:52:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[FatherName] [VARCHAR](100) NULL,
	[FileName] [varchar](100) NULL,
	[FileOriginalName] [varchar](100) NULL,
	[BloodGroup] [varchar](10) NULL,
	[Gender] [tinyint] NULL,
	[DOB] [date] NULL,
	[Phone] [varchar](20) NULL,
	[AlternatePhone] [varchar](20) NULL,
	[PersonalEmail] [varchar](100) NULL,
	[Nationality] [varchar](50) NULL,
	[Interest] [varchar](250) NULL,
	[MaritalStatus] [tinyint] NULL,
	[EmergencyContactPerson] [varchar](100) NULL,
	[EmergencyContactNo] [varchar](20) NULL,
	[PANNumber] [varchar](100) NULL,
    [AdharNumber] [varchar](100) NULL,
    [PFNumber] [varchar](100) NULL,
    [ESINo] [varchar](100) NULL,
    [HasESI] [bit]  NULL,
    [HasPF] [bit]  NULL,
    [UANNo] [bit] NULL,
    [PassportNo] [varchar](100) NULL,
    [PassportExpiry] [datetime] NULL,
    [PFDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[RefreshToken] VARCHAR(100) NULL,
	[RefreshTokenExpiryDate] DATETIME NULL,
	[EmployeeCode] VARCHAR(20) NULL,
 CONSTRAINT [PK_EmployeeData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END

/****** Object:  Table [dbo].[EmployeementDetail] Script Date: 08-08-2024 19:52:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmploymentDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Email] [varchar](100) NULL,
	[JoiningDate] [date] NULL,
	[TeamId] [int] NULL,
	[Designation] [varchar](100) NULL,
	[ReportingMangerId] [bigint] NULL,
	[EmploymentStatus] [tinyint] NULL,
	[LinkedInUrl] [nvarchar](250) NULL,
	[DepartmentId] [int] NULL,
	[BackgroundVerificationstatus] [tinyint] NULL,
	[CriminalVerification] [bit] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[TeamName] [varchar](191) NULL,
	[DepartmentName] [varchar](50) NULL,
	[BranchId] [bigint] NULL,
	[TotalExperienceYear] [tinyint] NULL,
	[TotalExperienceMonth] [tinyint] NULL,
	[RelevantExperienceYear] [tinyint] NULL,
	[RelevantExperienceMonth] [tinyint] NULL,
	[JobType] [tinyint] NULL,
	[ConfirmationDate] [date] NULL,
	[ExtendedConfirmationDate] [date] NULL,
	[isProbExtended] [bit] NULL,
	[ProbExtendedWeeks] [tinyint] NULL,
	[isConfirmed] [bit] NULL,
	[ProbationMonths] [INT] NULL,
	[isDeleted] [bit] NULL,
	[ReportingManagerName] VARCHAR(250) NULL,
	[ReportingManagerEmail] VARCHAR(100) NULL,
	[ExitDate] [date] NULL,
	[EmployeeStatus] int NULL,
	[IsManualAttendance] BIT NOT NULL DEFAULT 0,
	[RoleId] int NULL,
	[TimeDoctorUserId] VARCHAR(20) NULL DEFAULT NULL
 CONSTRAINT [PK_EmployeementDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE [dbo].[EmploymentDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentDetail_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE [dbo].[EmploymentDetail] CHECK CONSTRAINT [FK_EmploymentDetail_EmployeeData_EmployeeId]
GO 

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_EmployeeData_ReportingMangerId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE [dbo].[EmploymentDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentDetail_EmployeeData_ReportingMangerId] FOREIGN KEY([ReportingMangerId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_EmployeeData_ReportingMangerId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE [dbo].[EmploymentDetail] CHECK CONSTRAINT [FK_EmploymentDetail_EmployeeData_ReportingMangerId]
GO 


/****** Object:  Table [dbo].[Address] Script Date: 08-08-2024  19:52:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Address](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Line1] [nvarchar](250) NULL,
	[Line2] [nvarchar](250) NULL,
	[CityId] [bigint] NULL,
	[CountryId] [bigint] NULL,
	[StateId] [bigint] NULL,
	[AddressType] [tinyint] NULL,
	[Pincode]  VARCHAR(20) NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END                                                                                            

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Address_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Address_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_EmployeeData_EmployeeId]
GO

/****** Object:  Table [dbo].[Group]    Script Date: 07/22/2024 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Group]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Group](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NOT NULL,     
	[Description] [text] NULL,
	[STATUS] [bit] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO



/****** Object:  Table [dbo].[Events]    Script Date: 07/22/2024 18:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Events]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Events](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[EventCategoryId] [bigint] NULL,
	[EmpGroupId] [bigint] NULL,
	[Content] [nvarchar](max) NULL,
	[BannerFileName] [VARCHAR](100) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[EventUrl1] [nvarchar](250) NULL,
	[EventUrl2] [nvarchar](250) NULL,
	[EventUrl3] [nvarchar](250) NULL,
	[Venue] [nvarchar](250) NULL,
	[StatusId] [int] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[EventFeedbackSurveyLink] NVARCHAR(500) 
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_EventCategory_EventCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_EventCategory_EventCategoryId] FOREIGN KEY([EventCategoryId])
REFERENCES [dbo].[EventCategory] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_EventCategory_EventCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_EventCategory_EventCategoryId]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_Status_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_Status_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Status_StatusId]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_Group_EmpGroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Group_EmpGroupId] FOREIGN KEY([EmpGroupId])
REFERENCES [dbo].[Group] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Events_Group_EmpGroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Events]'))
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Group_EmpGroupId]
GO
																									

/****** Object:  Table [dbo].[CompanyPolicy]    Script Date: 08/08/2024 17:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyPolicy]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompanyPolicy](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[FileOriginalName] [VARCHAR](255) NULL,
	[FileName] [VARCHAR](255) NULL,
	[DocumentCategoryId] [bigint] NOT NULL,
	[Description] [NVARCHAR](500) NULL,
	[EffectiveDate] [datetime] NULL,
	[VersionNo] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Accessibility] [bit] NOT NULL,	
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyPolicy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicy_CompanyPolicyDocCategory_DocumentCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicy]'))
ALTER TABLE [dbo].[CompanyPolicy]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPolicy_CompanyPolicyDocCategory_DocumentCategoryId] FOREIGN KEY([DocumentCategoryId])
REFERENCES [dbo].[CompanyPolicyDocCategory] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicy_CompanyPolicyDocCategory_DocumentCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicy]'))
ALTER TABLE [dbo].[CompanyPolicy] CHECK CONSTRAINT [FK_CompanyPolicy_CompanyPolicyDocCategory_DocumentCategoryId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicy_PolicyStatus_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicy]'))
ALTER TABLE [dbo].[CompanyPolicy]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPolicy_PolicyStatus_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[PolicyStatus] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicy_PolicyStatus_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicy]'))
ALTER TABLE [dbo].[CompanyPolicy] CHECK CONSTRAINT [FK_CompanyPolicy_PolicyStatus_StatusId]
GO


                       

/****** Object:  Table [dbo].[EventDocument]    Script Date: 07/22/2024 17:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EventDocument]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EventDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventId] [bigint] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[OriginalFileName] [varchar](100) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_EventDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventDocument_Event_EventId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EventDocument]'))
ALTER TABLE [dbo].[EventDocument]  WITH CHECK ADD  CONSTRAINT [FK_EventDocument_Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventDocument_Event_EventId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EventDocument]'))
ALTER TABLE [dbo].[EventDocument] CHECK CONSTRAINT [FK_EventDocument_Event_EventId]
GO


/****** Object:  Table [dbo].[Module]    Script Date: 01-08-2024 10:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Module]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Module](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ModuleName] [varchar](250) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Table [dbo].[UserDocument]    Script Date: 07/22/2024 18:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserDocument]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[DocumentName] [varchar](100) NOT NULL,
	[DocumentTypeId] [bigint] NOT NULL,
	[DocumentNumber] [varchar](50) NOT NULL,
	[DocumentExpiry] [date] NULL,
	[Location] [varchar](250) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserDocument_DocumentType_DocumentTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDocument]'))
ALTER TABLE [dbo].[UserDocument]  WITH CHECK ADD  CONSTRAINT [FK_UserDocument_DocumentType_DocumentTypeId] FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[DocumentType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserDocument_DocumentType_DocumentTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDocument]'))
ALTER TABLE [dbo].[UserDocument] CHECK CONSTRAINT [FK_UserDocument_DocumentType_DocumentTypeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserDocument_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDocument]'))
ALTER TABLE [dbo].[UserDocument]  WITH CHECK ADD  CONSTRAINT [FK_UserDocument_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserDocument_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDocument]'))
ALTER TABLE [dbo].[UserDocument] CHECK CONSTRAINT [FK_UserDocument_EmployeeData_EmployeeId]
GO



/****** Object:  Table [dbo].[UserGroupMapping]    Script Date: 07/22/2024 18:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroupMapping]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserGroupMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserGroupMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGroupMapping_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMapping]'))
ALTER TABLE [dbo].[UserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupMapping_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGroupMapping_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMapping]'))
ALTER TABLE [dbo].[UserGroupMapping] CHECK CONSTRAINT [FK_UserGroupMapping_EmployeeData_EmployeeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGroupMapping_Group_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMapping]'))
ALTER TABLE [dbo].[UserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupMapping_Group_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGroupMapping_Group_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMapping]'))
ALTER TABLE [dbo].[UserGroupMapping] CHECK CONSTRAINT [FK_UserGroupMapping_Group_GroupId]
GO



/****** Object:  Table [dbo].[UserNomineeInfo]    Script Date: 07/22/2024 18:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserNomineeInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserNomineeInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NomineeName] [varchar](150) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[DOB] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[IsNomineeMinor] [bit] NOT NULL,
	[CareOf] [varchar](150) NULL,
	[Relationship] [int] NOT NULL,
	[Percentage] [TINYINT] NOT NULL,
	[Others] [NVARCHAR](150) NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[FileName] [NVARCHAR](100) NOT NULL,
	[FileOriginalName] [NVARCHAR](100) NOT NULL,  
	[IdProofDocType][int] NOT NULL
 CONSTRAINT [PK_UserNomineeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO



IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserNomineeInfo_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserNomineeInfo]'))
ALTER TABLE [dbo].[UserNomineeInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserNomineeInfo_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserNomineeInfo_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserNomineeInfo]'))
ALTER TABLE [dbo].[UserNomineeInfo] CHECK CONSTRAINT [FK_UserNomineeInfo_EmployeeData_EmployeeId]
GO


/****** Object:  Table [dbo].[UserQualificationInfo]    Script Date: 07/22/2024 18:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserQualificationInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserQualificationInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[QualificationId] [bigint] NOT NULL,
	[CollegeUniversity] [varchar](250) NOT NULL,
	[AggregatePercentage] numeric(5,2) NOT NULL,
	[FileName] [NVARCHAR](100) NOT NULL,
	[FileOriginalName] [NVARCHAR](100) NOT NULL,  
	[DegreeName] VARCHAR(255) NULL,
	[StartYear] [VARCHAR](7) NOT NULL,
	[EndYear] [VARCHAR](7) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserQualificationInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO



IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserQualificationInfo_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQualificationInfo]'))
ALTER TABLE [dbo].[UserQualificationInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserQualificationInfo_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserQualificationInfo_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQualificationInfo]'))
ALTER TABLE [dbo].[UserQualificationInfo] CHECK CONSTRAINT [FK_UserQualificationInfo_EmployeeData_EmployeeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserQualificationInfo_Qualification_QualificationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQualificationInfo]'))
ALTER TABLE [dbo].[UserQualificationInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserQualificationInfo_Qualification_QualificationId] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserQualificationInfo_Qualification_QualificationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQualificationInfo]'))
ALTER TABLE [dbo].[UserQualificationInfo] CHECK CONSTRAINT [FK_UserQualificationInfo_Qualification_QualificationId]
GO


/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 07/22/2024 18:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserRoleMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleMapping_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]'))
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMapping_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleMapping_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]'))
ALTER TABLE [dbo].[UserRoleMapping] CHECK CONSTRAINT [FK_UserRoleMapping_EmployeeData_EmployeeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleMapping_Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]'))
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMapping_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleMapping_Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]'))
ALTER TABLE [dbo].[UserRoleMapping] CHECK CONSTRAINT [FK_UserRoleMapping_Role_RoleId]
GO

/****** Object:  Table [dbo].[CompanyPolicyHistory]    Script Date: 08/08/2024 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompanyPolicyHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PolicyId] [bigint] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[FileOriginalName] [VARCHAR](255) NULL,
	[FileName] [VARCHAR](255) NULL,
	[DocumentCategoryId] [bigint] NOT NULL,
	[Description] [NVARCHAR](500) NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[VersionNo] [int] NULL,
	[StatusId] [int] NOT NULL,
	[Accessibility] [bit] NOT NULL,	
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyPolicyHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO



IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicyHistory_CompanyPolicy_PolicyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPolicyHistory_CompanyPolicy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[CompanyPolicy] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicyHistory_CompanyPolicy_PolicyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory] CHECK CONSTRAINT [FK_CompanyPolicyHistory_CompanyPolicy_PolicyId]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicyHistory_PolicyStatus_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPolicyHistory_PolicyStatus_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[PolicyStatus] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicyHistory_PolicyStatus_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory] CHECK CONSTRAINT [FK_CompanyPolicyHistory_PolicyStatus_StatusId]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicyHistory_CompanyPolicyDocCategory_DocumentCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPolicyHistory_CompanyPolicyDocCategory_DocumentCategoryId] FOREIGN KEY([DocumentCategoryId])
REFERENCES [dbo].[CompanyPolicyDocCategory] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompanyPolicy_CompanyPolicyDocCategory_DocumentCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompanyPolicyHistory]'))
ALTER TABLE [dbo].[CompanyPolicyHistory] CHECK CONSTRAINT [FK_CompanyPolicyHistory_CompanyPolicyDocCategory_DocumentCategoryId]
GO

/****** Object:  Table [dbo].[Surveys]    Script Date: 07/22/2024 18:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Surveys]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Surveys](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[FormIoReferenceId] [varchar](100) NULL,
	[StatusId] [int] NOT NULL,
	[PublishDate] [datetime] NULL,
	[DeadLine] [datetime] NULL,
	[ResponsesCount] [bigint] NULL,
	[SurveyJson] [text] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Surveys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Surveys_Status_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Surveys]'))
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Surveys_Status_StatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Surveys]'))
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Status_StatusId]
GO


/****** Object:  Table [dbo].[SurveyEmpGroupMapping]    Script Date: 07/22/2024 18:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurveyEmpGroupMapping]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurveyEmpGroupMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SurveyId] [bigint] NOT NULL,
	[EmpGroupId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SurveyEmpGroupMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyEmpGroupMapping_Group_EmpGroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyEmpGroupMapping]'))
ALTER TABLE [dbo].[SurveyEmpGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_SurveyEmpGroupMapping_Group_EmpGroupId] FOREIGN KEY([EmpGroupId])
REFERENCES [dbo].[Group] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyEmpGroupMapping_Group_EmpGroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyEmpGroupMapping]'))
ALTER TABLE [dbo].[SurveyEmpGroupMapping] CHECK CONSTRAINT [FK_SurveyEmpGroupMapping_Group_EmpGroupId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyEmpGroupMapping_Surveys_SurveyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyEmpGroupMapping]'))
ALTER TABLE [dbo].[SurveyEmpGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_SurveyEmpGroupMapping_Surveys_SurveyId] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Surveys] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyEmpGroupMapping_Surveys_SurveyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyEmpGroupMapping]'))
ALTER TABLE [dbo].[SurveyEmpGroupMapping] CHECK CONSTRAINT [FK_SurveyEmpGroupMapping_Surveys_SurveyId]
GO





/****** Object:  Table [dbo].[NotificationTemplate]    Script Date: 07/22/2024 19:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotificationTemplate]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NotificationTemplate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TemplateName] [varchar](250) NOT NULL,
	[Subject] [varchar] (200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Content] [text] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsDisabled] [bit] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_NotificationTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

/****** Object:  Table [dbo].[Permission]    Script Date: 01-08-2024 10:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Permission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[ModuleId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Value] NVARCHAR(250) NOT NULL ,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Permission_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Permission_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Module]
GO	
/****** New Table Created Object:  Table [dbo].[RolePermission]    Script Date: 07/23/2024 17:40:22 ******/
 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RolePermission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RolePermission_Permission_PermissionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RolePermission]'))
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RolePermission_Permission_PermissionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RolePermission]'))
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission_PermissionId]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RolePermission_Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RolePermission]'))
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RolePermission_Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RolePermission]'))
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role_RoleId]
GO

---
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PreviousEmployer]') AND type in (N'U'))
BEGIN
CREATE TABLE [PreviousEmployer] 
(      [Id] [bigint] IDENTITY(1,1) NOT NULL
      ,[EmployeeId] [bigint] NOT NULL
      ,[EmployerName] [varchar](100) NOT NULL
      ,[StartDate] [datetime] NOT NULL
      ,[EndDate] [datetime] NOT NULL
      ,[CreatedBy] [nvarchar](250) NOT NULL
	  ,[CreatedOn] [datetime] NOT NULL
	  ,[ModifiedBy] [nvarchar](250) NULL
	  ,[ModifiedOn] [datetime] NULL
	  ,[IsDeleted] [bit] NOT NULL
 CONSTRAINT [PK_PreviousEmployer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreviousEmployer_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreviousEmployer]'))
ALTER TABLE [dbo].[PreviousEmployer]  WITH CHECK ADD  CONSTRAINT [FK_PreviousEmployer_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
-----
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PreviousEmployerDocument]') AND type in (N'U'))
BEGIN
CREATE TABLE PreviousEmployerDocument
( 
	[Id] [bigint] IDENTITY(1,1) NOT NULL, 
	[PreviousEmployerId] [bigint] NOT NULL, 
	[EmployerDocumentTypeId] [int] NOT NULL, 
	[FileName] [varchar](100) NOT NULL,
	[FileOriginalName] [varchar](100) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL
 CONSTRAINT [PK_PreviousEmployerDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeementDocument]') AND type in (N'U'))
BEGIN
 DROP TABLE EmployeementDocument
END
GO
---------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserCompanyPolicyTrack]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserCompanyPolicyTrack](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[CompanyPolicyId] [bigint] NOT NULL,
	[ViewedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_UserCompanyPolicyTrack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserCompanyPolicyTrack_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserCompanyPolicyTrack]'))
ALTER TABLE [dbo].[UserCompanyPolicyTrack]  WITH CHECK ADD  CONSTRAINT [FK_UserCompanyPolicyTrack_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserCompanyPolicyTrack_CompanyPolicy_CompanyPolicyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserCompanyPolicyTrack]'))
ALTER TABLE [dbo].[UserCompanyPolicyTrack]  WITH CHECK ADD  CONSTRAINT [FK_UserCompanyPolicyTrack_CompanyPolicy_CompanyPolicyId] FOREIGN KEY([CompanyPolicyId])
REFERENCES [dbo].[CompanyPolicy] ([Id])
GO

GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserCertificate]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserCertificate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[CertificateName] [varchar](100) NOT NULL,
	[OriginalFileName] [varchar](100) NULL,
	[CertificateExpiry] DATE NULL,
	[FileName] [varchar](100) NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserCertificate_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserCertificate]'))
ALTER TABLE [dbo].[UserCertificate]  WITH CHECK ADD CONSTRAINT [FK_UserCertificate_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
End
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalReference]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfessionalReference](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PreviousEmployerId] [bigint] NOT NULL,
	[FullName] [varchar](250) NOT NULL,
	[Designation] [varchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[ContactNumber] [varchar](10) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ProfessionalReference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
END
GO



IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProfessionalReference_PreviousEmployer_PreviousEmployerId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalReference]'))
ALTER TABLE [dbo].[ProfessionalReference]  WITH CHECK ADD  CONSTRAINT [FK_ProfessionalReference_PreviousEmployer_PreviousEmployerId] FOREIGN KEY([PreviousEmployerId])
REFERENCES [dbo].[PreviousEmployer] ([Id])
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [NVARCHAR](100) NOT NULL, 
	[ApiEndPoint] NVARCHAR(255) NULL, 
	[ParentMenuId] bigint NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[OrderNo] INT NULL,
	CONSTRAINT FK_Menu_Parent
	FOREIGN KEY(ParentMenuId) REFERENCES [Menu](Id),
CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MenuPermission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MenuPermission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,	
	[MenuId] bigint NOT NULL,
	[ReadPermissionId] bigint NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL	
	CONSTRAINT FK_MenuPermission_Menu
	FOREIGN KEY(MenuId) REFERENCES [Menu](Id),
	CONSTRAINT FK_MenuPermission_Permission
	FOREIGN KEY(ReadPermissionId) REFERENCES [Permission](Id),
CONSTRAINT [PK_MenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[University]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[University](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,	
	[UniversityName] [varchar](250) NOT NULL,	
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_University] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CurrentEmployerDocument]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CurrentEmployerDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[EmployeeDocumentTypeId] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[FileOriginalName] [varchar](100) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CurrentEmployerDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CurrentEmployerDocument_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CurrentEmployerDocument]'))
BEGIN
ALTER TABLE [dbo].[CurrentEmployerDocument]  WITH CHECK ADD  CONSTRAINT [FK_CurrentEmployerDocument_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
END
GO


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurveyResponse]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurveyResponse](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,	
	[EmployeeId] [bigint] NOT NULL,
	[SurveyId] [bigint] NOT NULL,	
	[SurveyJsonResponse] [text] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL	
 CONSTRAINT [PK_SurveyResponse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

GO
/* SurveyId add foreign key*/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyResponse_Surveys_SurveyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyResponse]'))
ALTER TABLE [dbo].[SurveyResponse]  WITH CHECK ADD  CONSTRAINT [FK_SurveyResponse_Surveys_SurveyId] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Surveys] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyResponse_Surveys_SurveyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyResponse]'))
ALTER TABLE [dbo].[SurveyResponse] CHECK CONSTRAINT [FK_SurveyResponse_Surveys_SurveyId]

Go
/* EmployeeId add foreign key */
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyResponse_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyResponse]'))
ALTER TABLE [dbo].[SurveyResponse]  WITH CHECK ADD  CONSTRAINT [FK_SurveyResponse_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurveyResponse_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurveyResponse]'))
ALTER TABLE [dbo].[SurveyResponse] CHECK CONSTRAINT [FK_SurveyResponse_EmployeeData_EmployeeId]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DowntownData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DowntownData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,	
	[Last_Name] [varchar](50) NULL,		
	[Photo] [varchar](100) NULL,
	[Gender] [varchar] (50) NULL,	
	[DOB] date NULL,
	[Phone] [varchar](20) NULL,
	[Alternate_Phone_Number] [varchar](20) NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] text NULL,
	[Country] [varchar](50) NULL,
	[Joining_date] [varchar] (50) NULL,
	[Branch_title] [varchar] (250) NULL,
	[Team_id] [bigint] NULL,
	[Team_Title] [varchar] (50)  NULL,
	[Designation] [varchar] (100) NULL,
	[Status] [varchar](50) NULL,
	[IsSynched] [bit] NULL,
	[Created_at] datetime NULL,
	[Updated_at] datetime NULL,
	[deleted_at] datetime NULL,	
 CONSTRAINT [PK_DowntownData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Address_City_CityId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE Address DROP CONSTRAINT  [FK_Address_City_CityId]  
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Address_State_StateId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE Address DROP CONSTRAINT  [FK_Address_State_StateId]  
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Address_Country_CountryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE Address DROP CONSTRAINT  [FK_Address_Country_CountryId]  
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_BranchId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE EmploymentDetail DROP CONSTRAINT  [FK_EmploymentDetail_BranchId]  
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmailNotification]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmailNotification](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TemplateId] [bigint] NOT NULL,
	[ToEmail] [NVARCHAR](max) NOT NULL,
	[FromEmail] [NVARCHAR](150) NOT NULL,
	[Subject] [NVARCHAR](150) NOT NULL,
	[Body] [NVARCHAR](max) NOT NULL,
	[CC] [NVARCHAR](max)  NULL,
	[SentStatus] [TINYINT] NOT NULL,	
	[CreatedOn] [datetime] NOT NULL,	
	[SentOn] [datetime] NULL	
 CONSTRAINT [PK_EmailNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmailNotification_NotificationTemplate_TemplateId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmailNotification]'))
ALTER TABLE [dbo].[EmailNotification]  WITH CHECK ADD  CONSTRAINT [FK_EmailNotification_NotificationTemplate_TemplateId] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[NotificationTemplate] ([Id])
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint]  NOT NULL,
	[BankName] [varchar](250) NOT NULL,
	[AccountNO] [varchar](100)  NOT NULL,
	[BranchName] [varchar](250)  NULL,
	[IFSCCode] [varchar] (50)  NULL, 
    [CreatedBy] [nvarchar] (250) NOT NULL, 
    [CreatedOn] [datetime] NOT NULL, 
    [ModifiedBy] [nvarchar] (250) NULL, 
    [Modifiedon] [datetime] NULL, 
    [IsActive] [bit] NOT NULL
 CONSTRAINT [PK_BankDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BankDetails_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankDetails]'))
ALTER TABLE [dbo].[BankDetails]  WITH CHECK ADD  CONSTRAINT [FK_BankDetails_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData]([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BankDetails_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankDetails]'))
ALTER TABLE [dbo].[BankDetails] CHECK CONSTRAINT [FK_BankDetails_EmployeeData_EmployeeId]
GO


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PermanentAddress]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PermanentAddress](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL, 
	[Line1] [nvarchar](250) NULL,
	[Line2] [nvarchar](250) NULL,
	[AddressType] [tinyint] NULL,
	[Pincode]  VARCHAR(20) NULL,
	[CityId] [bigint] NULL,
	[CountryId] [bigint] NULL,
	[StateId] [bigint] NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_PermanentAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PermanentAddress_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PermanentAddress]'))
ALTER TABLE [dbo].[PermanentAddress]  WITH NOCHECK ADD  CONSTRAINT [FK_PermanentAddress_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PermanentAddress_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PermanentAddress]'))
ALTER TABLE [dbo].[PermanentAddress] CHECK CONSTRAINT [FK_PermanentAddress_EmployeeData_EmployeeId]
GO 
----------Resignation----------

IF NOT EXISTS (SELECT * FROM sys.columns WHERE Name = N'DesignationId' AND Object_ID = OBJECT_ID(N'[EmploymentDetail]'))
BEGIN
    ALTER TABLE [EmploymentDetail] ADD DesignationId BIGINT NULL; 
END
GO
IF  EXISTS (SELECT * FROM sys.columns WHERE Name = N'EmployeeCode' AND Object_ID = OBJECT_ID(N'[EmployeeData]'))
BEGIN
    ALTER TABLE [EmployeeData] ALTER COLUMN EmployeeCode VARCHAR(20) NULL; 
END
GO

GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Resignation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Resignation](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [EmployeeId] [bigint] NOT NULL,
    [DepartmentID] [bigint] NOT NULL,
	[ReportingManagerId] [bigint]  NULL,
    [LastWorkingDay] [date]  NULL,
    [Reason] [varchar](500) NOT NULL,
    [ExitDiscussion] [bit]  NULL,
    [Status] [tinyInt]  NULL,
    [Process] [varchar](50) NULL,
    [ProcessedBy] [bigint] NULL,
    [ProcessedAt] [datetime] NULL,
    [SettlementStatus] [varchar](50) NULL,
    [SettlementDate] [datetime] NULL,
    [IsActive][bit]Null,
    [EarlyReleaseDate][datetime]Null,
    [EarlyReleaseStatus] [tinyint] NULL  ,
	[RejectResignationReason] [Text] Null,
    [RejectEarlyReleaseReason] [Text] Null,
    [ModifiedOn] [datetime] NULL,
    [CreatedOn] [datetime] NOT NULL,
    [CreatedBy] [varchar](100) NOT NULL,
    [ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
    [EmployeeId] ASC,
    [DepartmentID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Resignation_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Resignation]'))
ALTER TABLE [dbo].[Resignation] WITH CHECK ADD CONSTRAINT [FK_Resignation_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] (Id)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Resignation_Department_DepartmentID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Resignation]'))
ALTER TABLE [dbo].[Resignation] WITH CHECK ADD CONSTRAINT [FK_Resignation_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] (Id)
GO
-----------
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GroupUserMapping]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GroupUserMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupId] [bigint]  NOT NULL,
	[EmployeeId] [bigint]  NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL, 
 CONSTRAINT [PK_GroupMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
End
GO
 
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GroupUserMapping_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupUserMapping]'))
ALTER TABLE [dbo].[GroupUserMapping]  WITH CHECK ADD  CONSTRAINT [FK_GroupUserMapping_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GroupUserMapping_Group_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupUserMapping]'))
ALTER TABLE [dbo].[GroupUserMapping]  WITH CHECK ADD  CONSTRAINT [FK_GroupUserMapping_Group_EmployeeId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([Id])
GO


-------------------Attendance-----------------------
GO 
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attendance]') AND type = 'U')
BEGIN
    CREATE TABLE Attendance (
        Id BIGINT PRIMARY KEY IDENTITY(1,1),
        EmployeeId BIGINT,
        [Date] DATE,
        StartTime TIME,
        EndTime TIME,
        [Day] VARCHAR(50),
        AttendanceType VARCHAR(100),
        TotalHours VARCHAR(50),
        [Location] VARCHAR(255),
        CreatedOn DATETIME,
        CreatedBy NVARCHAR(255),
        ModifiedBy NVARCHAR(255),
        ModifiedOn DATETIME
    );
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys  WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Attendance]'))
BEGIN
  ALTER TABLE [dbo].[Attendance] WITH NOCHECK ADD CONSTRAINT [FK_Attendance_EmployeeData_EmployeeId]FOREIGN KEY (EmployeeId)
  REFERENCES [dbo].[EmployeeData] (Id);
END
-------------------------AttendanceAudit--------------
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttendanceAudit]') AND type in (N'U'))
BEGIN
CREATE TABLE AttendanceAudit (
  Id BIGINT PRIMARY KEY IDENTITY(1,1),
  AttendanceId BIGINT,
  [Action] VARCHAR(255),
  [Time] VARCHAR(255),
  Comment TEXT,
  Reason TEXT,
  
);

End
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttendanceAudit_Attendace_AttendanceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttendanceAudit]'))
ALTER TABLE [dbo].[AttendanceAudit]  WITH NOCHECK ADD  CONSTRAINT [FK_AttendanceAudit_Attendance_AttendanceId] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[Attendance] ([Id])
GO

-------------HR Clearance---------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HRClearance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HRClearance](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResignationId] [int] NOT NULL,
	[AdvanceBonusRecoveryAmount] [decimal](18,2) NOT NULL,
	[ServiceAgreementDetails] [Text] NULL,
	[CurrentEL] [decimal](5,2)  NULL,
	[NumberOfBuyOutDays] [decimal](5,2) NOT NULL,
	[ExitInterviewStatus] [bit]  NULL,
	[ExitInterviewDetails] [nvarchar](max)  NULL,
	[Attachment] [nvarchar](max) NOT NULL,	 
    [CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_HRClearance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HRClearance_Resignation_ResignationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[HRClearance]'))
ALTER TABLE [dbo].[HRClearance] WITH CHECK ADD CONSTRAINT [FK_HRClearance_Resignation_ResignationId] FOREIGN KEY([ResignationId])
REFERENCES [dbo].[Resignation] ([Id])
GO
----------Department Clearance--------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DepartmentClearance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DepartmentClearance](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResignationId] [int] NOT NULL,
	[KTStatus] [tinyInt]  NULL,
	[KTNotes] [nvarchar](max) NOT NULL,
	[Attachment] [nvarchar](max) NOT NULL,
	[KTUsers] [varchar](max) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_DepartmentClearance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DepartmentClearance_Resignation_ResignationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DepartmentClearance]'))
ALTER TABLE [dbo].[DepartmentClearance] WITH CHECK ADD CONSTRAINT [FK_DepartmentClearance_Resignation_ResignationId] FOREIGN KEY([ResignationId])
REFERENCES [dbo].[Resignation] ([Id])
GO

  
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeLeave]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeLeave](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [EmployeeId] [Bigint] NOT NULL,
    [LeaveId] [int] NOT NULL,
    [OpeningBalance] [decimal](18,2) NOT NULL,
    [LeaveDate] [date] NOT NULL,
    [IsActive] [bit] NULL,
    [ModifiedOn] [datetime] NULL,
    [ModifiedBy] [varchar](100)  NULL,
    [CreatedOn] [datetime] NOT NULL,
    [CreatedBy]  [varchar](100) NOT NULL,
	 
CONSTRAINT [PK_EmployeeLeave] PRIMARY KEY CLUSTERED 
(   [Id] ASC 
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeLeave_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeLeave]'))
ALTER TABLE [dbo].[EmployeeLeave] WITH CHECK ADD CONSTRAINT [FK_EmployeeLeave_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] (Id)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeLeave_LeaveType_LeaveId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeLeave]'))
ALTER TABLE [dbo].[EmployeeLeave] WITH CHECK ADD CONSTRAINT [FK_EmployeeLeave_LeaveType_LeaveId] FOREIGN KEY([LeaveId])
REFERENCES [dbo].[LeaveType] (Id)

 GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LeaveType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LeaveType](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Title] [varchar](50) NOT NULL,
	[ShortName] [varchar](10) NOT NULL,
    [CreatedBy]  [varchar](100) NOT NULL,
    [CreatedOn] [datetime] NOT NULL,
    [ModifiedBy]  [varchar](100) NULL,
    [ModifiedOn] [datetime] NULL,
    [IsDeleted] [bit] NULL,
	 
    CONSTRAINT [PK_LeaveType] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [UQ_LeaveType_ShortName] UNIQUE ([ShortName])
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppliedLeaves]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AppliedLeaves](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [EmployeeId] [bigint] NOT NULL,
    [LeaveId] [int] NOT NULL,
    [ReportingManagerId] [bigint]  NULL,
    [Status] [tinyInt] NOT NULL,
    [Reason] [varchar(500)] NOT NULL,
    [RejectReason] [varchar(500)] NULL,
    [StartDate] [date] NOT NULL,
    [StartDateSlot] [tinyInt] NOT NULL,
    [EndDate] [date] NOT NULL,
    [EndDateSlot] [tinyInt] NOT NULL,
    [AttachmentPath] [Nvarchar(100)]  NULL,
    [CreatedOn] [datetime] NOT NULL,
    [CreatedBy][varchar(100)] NOT NULL,
    [ModifiedOn][datetime] NULL,
    [ModifiedBy][varchar(50)]NULL,	 	 
CONSTRAINT [PK_AppliedLeaves] PRIMARY KEY CLUSTERED 
(   [Id] ASC 
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AppliedLeaves_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AppliedLeaves]'))
ALTER TABLE [dbo].[AppliedLeaves] WITH CHECK ADD CONSTRAINT [FK_AppliedLeaves_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] (Id)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AppliedLeaves_LeaveType_LeaveId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AppliedLeaves]'))
ALTER TABLE [dbo].[AppliedLeaves] WITH CHECK ADD CONSTRAINT [FK_AppliedLeaves_LeaveType_LeaveId] FOREIGN KEY([LeaveId])
REFERENCES [dbo].[LeaveType] (Id)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AppliedLeaves_EmployeeData_ReportingMangerId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AppliedLeaves]'))
ALTER TABLE [dbo].[AppliedLeaves] WITH CHECK ADD CONSTRAINT [FK_AppliedLeaves_EmploymentDetail_ReportingMangerId] FOREIGN KEY([ReportingManagerId])
REFERENCES [dbo].[EmploymentDetail] (Id)
Go


------------------------AccrualUtilizedLeave------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccrualUtilizedLeave]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AccrualUtilizedLeave](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [EmployeeId] [bigint] NOT NULL, 
    [LeaveId] [int] NOT NULL,
    [Date] [datetime] NOT NULL,
    [Description] [nvarchar](500) NULL,
    [Accrued] [decimal](18, 2) NULL,
    [UtilizedOrRejected] [decimal](18, 2) NULL,
    [ClosingBalance] [decimal](18, 2) NOT NULL,
    [CreatedOn] [datetime] NOT NULL DEFAULT GETDATE(),
    [CreatedBy] [nvarchar](100)  NULL,
CONSTRAINT [PK_AccrualUtilizedLeave] PRIMARY KEY CLUSTERED 
(   [Id] ASC 
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AccrualUtilizedLeave_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccrualUtilizedLeave]'))
ALTER TABLE [dbo].[AccrualUtilizedLeave] WITH CHECK ADD CONSTRAINT [FK_AccrualUtilizedLeave_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] (Id)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AccrualUtilizedLeave_LeaveType_LeaveId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccrualUtilizedLeave]'))
ALTER TABLE [dbo].[AccrualUtilizedLeave] WITH CHECK ADD CONSTRAINT [FK_AccrualUtilizedLeave_LeaveType_LeaveId] FOREIGN KEY([LeaveId])
REFERENCES [dbo].[LeaveType] (Id)
GO
--------------------------------ITAsset------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITAsset]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[ITAsset] (
        [Id] [bigint] IDENTITY(1,1) NOT NULL,
        [DeviceName] NVARCHAR(100) NOT NULL,
        [DeviceCode] NVARCHAR(100) NULL,
        [SerialNumber] NVARCHAR(100) NULL,
        [InvoiceNumber] NVARCHAR(100) NULL,
        [Manufacturer] NVARCHAR(100) NULL,
        [Model] NVARCHAR(100) NULL,
        [AssetType] TINYINT NOT NULL,
        [Status] TINYINT NOT NULL,
        [Branch] TINYINT NULL,
        [PurchaseDate] DATE NOT NULL,
        [WarrantyExpires] DATE NULL,
        [Comments] NVARCHAR(100) NULL,
        [CreatedBy] NVARCHAR(100) NOT NULL,
        [CreatedOn] DATETIME NOT NULL,
        [ModifiedBy] NVARCHAR(100) NULL,
        [ModifiedOn] DATETIME NULL,
        [Specification] NVARCHAR(MAX) NULL,
        [AssetCondition] TINYINT NULL,    
        CONSTRAINT [PK_ITAsset] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO
------------------------EmployeeAsset---------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeAsset]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[EmployeeAsset] (
        [Id] [int] IDENTITY(1,1) NOT NULL,
        [EmployeeId] [bigint] NOT NULL,
        [AssetId] [bigint] NOT NULL,
        [AssignedOn] [date] NOT NULL,
        [IsActive] [bit] NOT NULL,
        [CreatedBy] [nvarchar](100) NOT NULL,
        [CreatedOn] [datetime] NOT NULL,
        [ModifiedBy] [nvarchar](100) NULL,
        [ModifiedOn] [datetime] NULL,
        CONSTRAINT [PK_EmployeeAsset] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeAsset_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeAsset]'))
BEGIN
    ALTER TABLE [dbo].[EmployeeAsset] WITH CHECK 
    ADD CONSTRAINT [FK_EmployeeAsset_EmployeeData_EmployeeId] FOREIGN KEY ([EmployeeId]) 
    REFERENCES [dbo].[EmployeeData] ([Id])
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeAsset_ITAsset_AssetId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeAsset]'))
BEGIN
    ALTER TABLE [dbo].[EmployeeAsset] WITH CHECK 
    ADD CONSTRAINT [FK_EmployeeAsset_ITAsset_AssetId] FOREIGN KEY ([AssetId]) 
    REFERENCES [dbo].[ITAsset] ([Id])
END
GO

-- Alter Statement for EmployeeAsset (ReturnDate Column)

IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'ReturnDate'
      AND Object_ID = Object_ID(N'[dbo].[EmployeeAsset]')
)
BEGIN
    ALTER TABLE [dbo].[EmployeeAsset]
    ADD [ReturnDate] [date] NULL;
END
GO

IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'ReturnCondition'
      AND Object_ID = Object_ID(N'[dbo].[EmployeeAsset]')
)
BEGIN
    ALTER TABLE [dbo].[EmployeeAsset]
    ADD [ReturnCondition] [tinyInt] NULL;
END
GO




--------------------------------ITAssetHistory------------------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITAssetHistory]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[ITAssetHistory] (
        [Id] [int] IDENTITY(1,1) NOT NULL,
        [AssetId] [bigint] NOT NULL,
        [EmployeeId] [bigint] NOT NULL,
        [Status] [tinyint] NOT NULL,      
        [AssetCondition] [tinyint] NOT NULL,    
        [Note] [nvarchar](255) NULL,
        [CreatedBy] [nvarchar](100) NOT NULL,
        [CreatedOn] [datetime] NOT NULL,
        CONSTRAINT [PK_ITAssetHistory] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITAssetHistory_ITAsset]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITAssetHistory]'))
BEGIN
    ALTER TABLE [dbo].[ITAssetHistory] WITH CHECK 
    ADD CONSTRAINT [FK_ITAssetHistory_ITAsset] FOREIGN KEY ([AssetId]) 
    REFERENCES [dbo].[ITAsset] ([Id])
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ITAssetHistory_EmployeeData]') AND parent_object_id = OBJECT_ID(N'[dbo].[ITAssetHistory]'))
BEGIN
    ALTER TABLE [dbo].[ITAssetHistory] WITH CHECK 
    ADD CONSTRAINT [FK_ITAssetHistory_EmployeeData] FOREIGN KEY ([EmployeeId]) 
    REFERENCES [dbo].[EmployeeData] ([Id])
END
GO

-----Alter--
-- Add IssueDate column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'IssueDate' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAssetHistory]')
)
BEGIN
    ALTER TABLE [dbo].[ITAssetHistory]
    ADD [IssueDate] DATE NULL;
END
GO

-- Add ReturnDate column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'ReturnDate' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAssetHistory]')
)
BEGIN
    ALTER TABLE [dbo].[ITAssetHistory]
    ADD [ReturnDate] DATE NULL;
END
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmploymentDetail_BranchId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmploymentDetail]'))
ALTER TABLE [dbo].[EmploymentDetail]   DROP CONSTRAINT [FK_EmploymentDetail_BranchId] 
GO

DROP TABLE IF EXISTS [DBO].[Branch];
DROP TABLE IF EXISTS [DBO].[EmploymentStatus];
DROP TABLE IF EXISTS [DBO].[EmployeeStatus];

GO
CREATE OR ALTER VIEW vw_EmployeeData AS 
SELECT  
E.Id AS EmployeeId, 
E.PersonalEmail AS PersonalEmail, 
ED.EmploymentStatus,  
ED.EmployeeStatus, 
E.EmployeeCode AS EmployeeCode, 
E.FirstName AS FirstName, 
E.MiddleName AS MiddleName, 
E.LastName AS LastName, 
CONCAT(E.FirstName, ' ', E.LastName, ' ', E.LastName) AS EmployeeFullname, 
CONCAT(RepManagerE.FirstName, ' ', RepManagerE.LastName, ' ', RepManagerE.LastName) AS ReportingManagerName, 
E.FatherName, 
E.Gender, 
E.DOB, 
E.EmergencyContactNo, 
E.BloodGroup, 
E.MaritalStatus, 
E.Phone, 
E.AlternatePhone, 
ED.TimeDoctorUserId AS TimeDoctorUserId, 
ED.Email AS OfficeEmail, 
ED.IsManualAttendance AS IsManualAttendance, 
ED.JoiningDate AS JoiningDate,ED.ConfirmationDate,ED.JobType, 
T.TeamName AS Team, 
D.Department AS Department, 
D.Id AS DepartmentId, 
DE.Designation AS Designation, 
DE.Id AS DesignationId, 
ED.BranchId AS BranchId, 
R.Name as RoleName, R.Id as RoleId,
C.CountryName AS Country,
C.Id AS CountryId
FROM EmployeeData E 
INNER JOIN EmploymentDetail ED ON E.Id = ED.EmployeeId 
LEFT JOIN Department D ON D.Id = Ed.DepartmentId 
LEFT JOIN Team T ON T.Id = ED.TeamId 
LEFT JOIN EmployeeData RepManagerE ON RepManagerE.Id = ED.ReportingMangerId 
LEFT JOIN Designation DE ON DE.Id = ED.DesignationId 
LEFT JOIN UserRoleMapping Ur ON Ur.EmployeeId = ED.EmployeeId 
LEFT JOIN [Address] AD ON AD.EmployeeId = E.Id
LEFT JOIN Country C ON C.Id = AD.CountryId
LEFT JOIN Role R ON R.Id = Ur.RoleId 
GO

------View for resignation ------
 CREATE OR ALTER VIEW vw_ResignationDetail AS
    SELECT  
	   r.EmployeeId as EmployeeId,
            d.Department AS DepartmentName,
            r.LastWorkingDay,
            r.CreatedOn As ResignationDate,
            r.EarlyReleaseDate,
            r.EarlyReleaseStatus,
            r.Status as ResignationStatus,
			r.Reason,
            dc.KTStatus,
            hr.ExitInterviewStatus,
            it.ITClearanceCertification AS ITNoDue,
            ac.IssueNoDueCertificate as AccountsNoDue,
            ac.FnFStatus, 
			r.Id As ResignationId 
        FROM 
            dbo.Resignation r 
        LEFT JOIN 
            dbo.HRClearance hr ON r.Id = hr.ResignationId
        LEFT JOIN 
            dbo.DepartmentClearance dc ON r.Id = dc.ResignationId
        LEFT JOIN 
            dbo.ITClearance it ON r.Id = it.ResignationId
        LEFT JOIN 
            dbo.AccountClearance ac ON r.Id = ac.ResignationId
        LEFT JOIN 
            dbo.Department d ON r.DepartmentID = d.Id 
-------SP for exit employee list and detail
GO
IF NOT EXISTS (SELECT * FROM sys.columns WHERE Name = N'RequestId' AND Object_ID = OBJECT_ID(N'[Logging]'))
BEGIN
ALTER TABLE [dbo].[Logging] ADD RequestId VARCHAR(64);
CREATE INDEX IX_Logging_RequestId ON Logging (RequestId);
END


-------------------------------KPIGoals-----------------------------------------

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIGoals]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIGoals](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DepartmentId] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT (0),
 CONSTRAINT [PK_KPIGoals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KPIGoals_Department_DepartmentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[KPIGoals]'))
ALTER TABLE [dbo].[KPIGoals] CHECK CONSTRAINT [FK_KPIGoals_Department_DepartmentId]
GO

----------------------------------------KPIPlan--------------------------------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIPlan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIPlan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[AppraisalCycle] [nvarchar](50) NULL,
	[AppraisalDate] [date] NULL,
	[IsReviewed] [bit] NULL,
	[ReviewDate] [date] NULL,
	[OverallProgress] [nvarchar](max) NULL,
	[AppraisalNote] [nvarchar](max) NULL,
	[AppraisalAttachment] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (GETDATE()),
	[ModifiedBy] [nvarchar](255) NULL,
	[ModifiedOn] [datetime] NULL DEFAULT (CURRENT_TIMESTAMP),
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_KPIPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KPIPlan_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[KPIPlan]'))
ALTER TABLE [dbo].[KPIPlan] CHECK CONSTRAINT [FK_KPIPlan_EmployeeData_EmployeeId]
GO

-------------------------------KPIDetails----------------------------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIDetails](
	  [Id] [bigint] IDENTITY(1,1) NOT NULL,
	  [PlanId] [bigint] NOT NULL,
	  [GoalId] [bigint] NOT NULL,
	  [Q1_Rating] DECIMAL(5,2) NULL,
	  [Q2_Rating] DECIMAL(5,2) NULL,
	  [Q3_Rating] DECIMAL(5,2) NULL,
	  [Q4_Rating] DECIMAL(5,2) NULL,
	  [Q1_Note] [nvarchar](max) NULL,
	  [Q2_Note] [nvarchar](max) NULL,
	  [Q3_Note] [nvarchar](max) NULL,
	  [Q4_Note] [nvarchar](max) NULL,
	  [Status] [bit] NULL,
	  [AllowedQuarter] [nvarchar](100) NULL,
	  [TargetExpected] [nvarchar](max) NULL,
	  [EmployeeRating] DECIMAL(5,2) NULL,
	  [ManagerRating] DECIMAL(5,2) NULL,
	  [EmployeeNote] [nvarchar](max) NULL,
	  [ManagerNote] [nvarchar](max) NULL,
	  [CreatedBy] [nvarchar](250) NOT NULL,
	  [CreatedOn] [datetime] NOT NULL,
	  [ModifiedBy] [nvarchar](250) NULL,
	  [ModifiedOn] [datetime] NULL,
	  [IsDeleted] [bit] NULL,
CONSTRAINT [PK_KPIDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KPIDetails_KPIPlan_PlanID]') AND parent_object_id = OBJECT_ID(N'[dbo].[KPIDetails]'))
ALTER TABLE [dbo].[KPIDetails] CHECK CONSTRAINT [FK_KPIDetails_KPIPlan_PlanID]
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KPIDetails_KPIGoals_GoalID]') AND parent_object_id = OBJECT_ID(N'[dbo].[KPIDetails]'))
ALTER TABLE [dbo].[KPIDetails] CHECK CONSTRAINT [FK_KPIDetails_KPIGoals_GoalID]
GO
GO

---------------------Swap and CompOff Table ----------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompOffAndSwapHolidayDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompOffAndSwapHolidayDetail](
    [Id] [bigint] IDENTITY(1,1) NOT NULL,
    [EmployeeId] [bigint] NOT NULL,
    [WorkingDate] [date] NOT NULL,
    [LeaveDate] [date] NULL,
    [LeaveDateLabel] [nvarchar](100) NULL,
    [WorkingDateLabel] [nvarchar](100) NULL,
    [Reason] [nvarchar](max) NULL,
    [Status] [tinyint] NOT NULL,
    [RejectReason] [nvarchar](max) NULL,
    [RequestType] [tinyint] NOT NULL,
	[NumberOfDays] [decimal](5,2) NULL,
    [CreatedOn] [datetime] NULL,
    [CreatedBy] [nvarchar](100) NULL,
    [ModifiedBy] [nvarchar](100) NULL,
    [ModifiedOn] [datetime] NULL,
    [IsDeleted] [bit] NOT NULL DEFAULT 0,
CONSTRAINT [PK_CompOffAndSwapHolidayDetail] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompOffAndSwapHolidayDetail_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompOffAndSwapHolidayDetail]'))
BEGIN
ALTER TABLE [dbo].[CompOffAndSwapHolidayDetail] WITH CHECK ADD CONSTRAINT [FK_CompOffAndSwapHolidayDetail_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData] ([Id])
END
GO

-------------------------------CronJobLog----------------------------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CronJobLog]') AND type in (N'U'))
BEGIN
CREATE TABLE CronJobLog (
	Id BIGINT PRIMARY KEY IDENTITY(1,1),
	TypeId INT NULL,
	RequestId VARCHAR(128) NULL,
	StartedAt DATETIME NULL, 
	CompletedAt DATETIME NULL, 
	Payload VARCHAR(1024) NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT GETDATE(),
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL
)
END
GO
--------------------------------Grievance---------------------------------------  

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrievanceType]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[GrievanceType] (
        [Id] BIGINT IDENTITY(1,1) NOT NULL,
        [GrievanceName] NVARCHAR(255) NOT NULL,
        [L1TatHours] INT NOT NULL,
        [L2TatHours] INT NOT NULL,
        [L3TatDays] INT NOT NULL,
        [Description] NVARCHAR(250) NULL,
        [IsActive] BIT NOT NULL,
        [CreatedBy] NVARCHAR(100) NOT NULL,
        [CreatedOn] DATETIME NOT NULL,
        [ModifiedBy] NVARCHAR(100) NULL,
        [ModifiedOn] DATETIME NULL,
        CONSTRAINT [PK_GrievanceType] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

------------------------------ GrievanceOwner Table ------------------------------

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrievanceOwner]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[GrievanceOwner] (
        [Id] BIGINT IDENTITY(1,1) NOT NULL,
        [GrievanceTypeId] BIGINT NOT NULL,
        [Level] TINYINT NOT NULL,
        [OwnerID] BIGINT NOT NULL,
        [CreatedBy] NVARCHAR(100) NOT NULL,
        [CreatedOn] DATETIME NOT NULL,
        [ModifiedBy] NVARCHAR(100) NULL,
        [ModifiedOn] DATETIME NULL,
        [IsDeleted] BIT NOT NULL
        CONSTRAINT [PK_GrievanceOwner] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_GrievanceOwner_GrievanceType'
)
BEGIN
    ALTER TABLE [dbo].[GrievanceOwner] WITH CHECK
    ADD CONSTRAINT FK_GrievanceOwner_GrievanceType
    FOREIGN KEY ([GrievanceTypeId]) REFERENCES [dbo].[GrievanceType]([Id])
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_GrievanceOwner_EmployeeData'
)
BEGIN
    ALTER TABLE [dbo].[GrievanceOwner] WITH CHECK
    ADD CONSTRAINT FK_GrievanceOwner_EmployeeData
    FOREIGN KEY ([OwnerID]) REFERENCES [dbo].[EmployeeData]([Id])
END
GO

------------------------------ EmployeeGrievance Table ------------------------------

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeGrievance]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[EmployeeGrievance] (
        [Id] BIGINT IDENTITY(1,1) NOT NULL,
        [TicketNo] NVARCHAR(50) NOT NULL UNIQUE,
        [GrievanceTypeId] BIGINT NOT NULL,
        [Level] TINYINT NOT NULL,
        [EmployeeId] BIGINT NOT NULL,
        [Title] NVARCHAR(255) NOT NULL,
        [Description] NVARCHAR(MAX) NOT NULL,
        [AttachmentPath] NVARCHAR(500) NULL,
        [FileOriginalName] NVARCHAR(255) NULL,
        [Status] TINYINT NOT NULL,
        [TatStatus] TINYINT NOT NULL,
        [ResolvedBy] BIGINT NULL,
        [ResolvedDate] DATETIME NULL,
        [CreatedBy] NVARCHAR(100) NOT NULL,
        [CreatedOn] DATETIME NOT NULL,
        [ModifiedBy] NVARCHAR(100) NULL,
        [ModifiedOn] DATETIME NULL,
        CONSTRAINT [PK_EmployeeGrievance] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_EmployeeGrievance_EmployeeData'
)
BEGIN
    ALTER TABLE [dbo].[EmployeeGrievance] WITH CHECK
    ADD CONSTRAINT FK_EmployeeGrievance_EmployeeData
    FOREIGN KEY ([EmployeeId]) REFERENCES [dbo].[EmployeeData]([Id])
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_EmployeeGrievance_GrievanceType'
)
BEGIN
    ALTER TABLE [dbo].[EmployeeGrievance] WITH CHECK
    ADD CONSTRAINT FK_EmployeeGrievance_GrievanceType
    FOREIGN KEY ([GrievanceTypeId]) REFERENCES [dbo].[GrievanceType]([Id])
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_EmployeeGrievance_ResolvedBy'
)
BEGIN
    ALTER TABLE [dbo].[EmployeeGrievance] WITH CHECK
    ADD CONSTRAINT FK_EmployeeGrievance_ResolvedBy
    FOREIGN KEY ([ResolvedBy]) REFERENCES [dbo].[EmployeeData]([Id])
END
GO
------------Grievance Remarks Table------------------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrievanceRemarks]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[GrievanceRemarks] (
        [Id] BIGINT IDENTITY(1,1) NOT NULL,
        [TicketId] BIGINT NOT NULL,                          -- FK to EmployeeGrievance(Id)
        [OwnerId] BIGINT NOT NULL,                           -- FK to EmployeeData(Id)
        [Remarks] NVARCHAR(MAX) NOT NULL,                    -- The actual remark content
        [AttachmentPath] NVARCHAR(500) NULL,                 -- Path to any attachment
        [FileOriginalName] NVARCHAR(255) NULL,               -- Original filename
        [Status] TINYINT NOT NULL, 
        [CreatedBy] NVARCHAR(100) NOT NULL,                  -- Creator details
        [CreatedOn] DATETIME NOT NULL,
        [ModifiedBy] NVARCHAR(100) NULL,
        [ModifiedOn] DATETIME NULL,
        CONSTRAINT [PK_GrievanceRemarks] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

-- Foreign key to EmployeeGrievance
IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_GrievanceRemarks_EmployeeGrievance'
)
BEGIN
    ALTER TABLE [dbo].[GrievanceRemarks] WITH CHECK
    ADD CONSTRAINT FK_GrievanceRemarks_EmployeeGrievance
    FOREIGN KEY ([TicketId]) REFERENCES [dbo].[EmployeeGrievance]([Id])
END
GO

-- Foreign key to EmployeeData for Owner
IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE name = N'FK_GrievanceRemarks_EmployeeData'
)
BEGIN
    ALTER TABLE [dbo].[GrievanceRemarks] WITH CHECK
    ADD CONSTRAINT FK_GrievanceRemarks_EmployeeData
    FOREIGN KEY ([OwnerId]) REFERENCES [dbo].[EmployeeData]([Id])
END
GO
-------------ITAsset Alter---------------------
-- Add ProductFileOriginalName column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'ProductFileOriginalName' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAsset]')
)
BEGIN
    ALTER TABLE [dbo].[ITAsset]
    ADD [ProductFileOriginalName] NVARCHAR(255) NULL;
END
GO

-- Add ProductFileName column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'ProductFileName' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAsset]')
)
BEGIN
    ALTER TABLE [dbo].[ITAsset]
    ADD [ProductFileName] NVARCHAR(255) NULL;
END
GO

-- Add SignatureFileOriginalName column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'SignatureFileOriginalName' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAsset]')
)
BEGIN
    ALTER TABLE [dbo].[ITAsset]
    ADD [SignatureFileOriginalName] NVARCHAR(255) NULL;
END
GO

-- Add SignatureFileName column if not exists
IF NOT EXISTS (
    SELECT * 
    FROM sys.columns 
    WHERE Name = N'SignatureFileName' 
      AND Object_ID = OBJECT_ID(N'[dbo].[ITAsset]')
)
BEGIN
    ALTER TABLE [dbo].[ITAsset]
    ADD [SignatureFileName] NVARCHAR(255) NULL;
END
GO

--------------------ManagerRatingHistory----------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ManagerRatingHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ManagerRatingHistory](
    [Id] [bigint] IDENTITY(1,1) NOT NULL,
    [PlanId] [bigint] NOT NULL,
    [GoalId] [bigint] NOT NULL,
    [ManagerId] [bigint] NOT NULL,
    [ManagerRating] [decimal](5,2) NULL,
    [ManagerComment] [nvarchar](max) NULL,
    [CreatedBy] [nvarchar](max) NOT NULL,
    [CreatedOn] [datetime] NOT NULL,
    [IsDeleted] [bit] NOT NULL DEFAULT 0,
CONSTRAINT [PK_ManagerRatingHistory] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ManagerRatingHistory_KPIPlan_PlanId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ManagerRatingHistory]'))
BEGIN
ALTER TABLE [dbo].[ManagerRatingHistory] WITH CHECK ADD CONSTRAINT [FK_ManagerRatingHistory_KPIPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[KPIPlan] ([Id])
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ManagerRatingHistory_KPIGoals_GoalId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ManagerRatingHistory]'))
BEGIN
ALTER TABLE [dbo].[ManagerRatingHistory] WITH CHECK ADD CONSTRAINT [FK_ManagerRatingHistory_KPIGoals_GoalId] FOREIGN KEY([GoalId])
REFERENCES [dbo].[KPIGoals] ([Id])
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ManagerRatingHistory_EmployeeData_ManagerId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ManagerRatingHistory]'))
BEGIN
ALTER TABLE [dbo].[ManagerRatingHistory] WITH CHECK ADD CONSTRAINT [FK_ManagerRatingHistory_EmployeeData_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[EmployeeData] ([Id])
END
GO
----------------UserGuide----------------

IF NOT EXISTS (
    SELECT * FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[UserGuide]') AND type = N'U'
)
BEGIN
    CREATE TABLE [dbo].[UserGuide] (
        [Id] [int] IDENTITY(1,1) NOT NULL,
        [MenuId] [bigint] NOT NULL,
        [RoleId] [int] NULL,
        [Title] [nvarchar](500) NOT NULL,
        [Content] [nvarchar](max) NOT NULL,
        [IsDeleted] [bit]  NULL,
        [Status] [tinyInt] NOT NULL,
        [CreatedOn] [datetime] NULL,
        [CreatedBy] [nvarchar](100) NULL,
        [ModifiedBy] [nvarchar](100) NULL,
        [ModifiedOn] [datetime] NULL,
        CONSTRAINT [PK_UserGuide] PRIMARY KEY CLUSTERED ([Id] ASC)
    ) ON [PRIMARY]
END
GO

-- Foreign key from Menu table
IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGuide_Menu_MenuId]') 
    AND parent_object_id = OBJECT_ID(N'[dbo].[UserGuide]')
)
BEGIN
    ALTER TABLE [dbo].[UserGuide] WITH CHECK 
    ADD CONSTRAINT [FK_UserGuide_Menu_MenuId] 
    FOREIGN KEY ([MenuId]) REFERENCES [dbo].[Menu] ([Id])
END
GO

BEGIN
    ALTER TABLE [dbo].[UserGuide] WITH CHECK 
    ADD CONSTRAINT [FK_UserGuide_Department_DepartmentId] 
    FOREIGN KEY ([DepartmentId]) REFERENCES [dbo].[Department] ([Id])
END
GO

-- Foreign key from Role table
IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys 
    WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserGuide_Role_RoleId]') 
    AND parent_object_id = OBJECT_ID(N'[dbo].[UserGuide]')
)
BEGIN
    ALTER TABLE [dbo].[UserGuide] WITH CHECK 
    ADD CONSTRAINT [FK_UserGuide_Role_RoleId] 
    FOREIGN KEY ([RoleId]) REFERENCES [dbo].[Role] ([Id])
END
GO


----------------Feedback-------------------------
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Feedback](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TicketStatus] [tinyint] NOT NULL,
	[FeedbackType] [tinyint] NOT NULL,
	[Subject] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[AdminComment] [varchar](max) NULL,
	[AttachmentPath] [varchar](max) NULL,
	[FileOriginalName] [varchar](max) NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
    [IsDeleted] [bit] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Feedback_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feedback]'))
ALTER TABLE [dbo].[Feedback] WITH CHECK ADD CONSTRAINT [FK_Feedback_EmployeeData_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeData]([Id])
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Feedback_EmployeeData_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feedback]'))
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_EmployeeData_EmployeeId]
GO
