.dashboard-tile {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #ffffff;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.dashboard-tile:hover {
    transform: scale(1.01);
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.dashboard-tile-content {
    flex-grow: 1;
    overflow-y: auto;
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flag-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.flag-icon {
    width: 30px;
    height: auto;
}

.flag-wrapper {
    display: flex;
    cursor: pointer;
    opacity: 0.4;
    transition: border-color 0.3s ease;
    padding: 1px;
    border-radius: 1px;
}

.flag-wrapper.selected {
    opacity: 1;
}