.event-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.event-card:hover {
    transform: scale(1.01);
    background-color: #f1f1f1;
}

.event-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.venue-info {
    flex-grow: 1;
    font-size: 10.5px;
}

.venue-name {
    font-weight: bold;
    display: block;
}

.venue-details {
    display: flex;
    flex-direction: column;
}

.venue-date,
.venue-place {
    font-weight: normal;
    margin-top: 2px;
}